@import "main.less";

@media only screen and (max-width : 959px) {
    #top-nav {
        float: right;
        margin-right: 40px;
        height: 50px;
        overflow: hidden;
        background: url('../images/structure/nav-icon.png') no-repeat right 5px;
        background-size: 28px auto;
        cursor: pointer;
    }
    .header-link {
        padding: 10px 20px;
        display: block;
        margin-top: 0px;
        background: @green2;
    }
    .header-link:first-child {
        margin-top: 50px;
        .br(5px,5px,0px,0px);
    }
    .header-link:last-child {
        .br(0px,0px,5px,5px);
    }
    #top-nav:hover {
        height: auto;
    }

    .laurels-container {
        margin-left: -4%;
        .laurel {
            max-width: 15%;
            margin-left: 4%;
        }
    }

    #cta-text-container {
        margin-left: 5%;
        p:first-child {
            margin-top: 0px;
        }
    }

    #lobby-img {
        max-width: 95%;
    }

    #join-form {
        input {
            display: block;
        }
    }

    #credits-img-container {
        max-width: 95%;
    }

    .switch-btn-container.vine button {
            background-image: none;
            text-align: center;
            letter-spacing: 0px;
    }

    .switch-section-products {
        margin-left: 0px;
        .switch-product {
            margin-left: 0px;
            width: 100%;
            .cr {
                width: ~"calc(100% - 100px)";
            }
        }
    }

    #about-header-text {
        .em(16);
    }

    .filmmaker-bio  {
        p {
            .em(16);
        }
    }

    .press-quote h3 {
        .em(25);
    }

    .article-title {
        .em(25);
    }

    #join-zip {
        margin-left: 0px;
    }
    #btn-join-submit {
        margin-left: 0px;
    }

}
