@import "main.less";

@media only screen and (max-width : 959px) {
    #top-nav {
        position: absolute;
        right: 40px;
        height: 50px;
        overflow: hidden;
        background: url('../images/structure/nav-icon.png') no-repeat right 5px;
        background-size: 28px auto;
        cursor: pointer;
    }
    .header-link {
        padding: 10px 20px;
        display: block;
        margin-top: 0px;
        background: @green2;
    }
    .header-link:first-child {
        margin-top: 50px;
        .br(5px,5px,0px,0px);
    }
    .header-link:last-child {
        .br(0px,0px,5px,5px);
    }
    #top-nav {
        .header-link {
            opacity: 0;
            .transition(all .3s ease-in);
        }
    }
    #top-nav:hover, #top-nav.active {
        height: auto;
        .header-link {
            opacity: 1;
        }
    }

    #top-nav.inactive {
        height: 50px;
        .header-link {
            opacity: 0;
        }
    }

    .laurels-container {
        margin-left: -4%;
        .laurel {
            max-width: 15%;
            margin-left: 4%;
        }
    }

    #cta-text-container {
        margin-left: 5%;
        p:first-child {
            margin-top: 0px;
        }
    }

    #lobby-img {
        max-width: 95%;
        width: 95%;
    }

    #join-form {
        padding-right: 40px;
        input {
            display: block;
        }
    }

    #credits-img-container {
        max-width: 95%;
    }

    .switch-btn-container.vine button {
            background-image: none;
            text-align: center;
            letter-spacing: 0px;
    }

    .switch-section-products {
        margin-left: 0px;
        .switch-product {
            margin-left: 0px;
            width: 100%;
            .cr {
                width: ~"calc(100% - 100px)";
            }
        }
    }

    #about-header-text {
        .em(16);
    }

    .filmmaker-bio  {
        p {
            .em(16);
        }
    }

    .press-quote h3 {
        .em(25);
    }

    .article-title {
        .em(25);
    }

    #join-zip {
        margin-left: 0px;
    }
    #btn-join-submit {
        margin-left: 0px;
    }

}

@media only screen and (max-width : 767px) {

    .overlay-content.active {
        width: 100%;
        height: 100%;
        .overlay-text {
            padding-bottom: 35px;
            overflow: auto;
            .bb;
            height: 100%;

        }
    }

    #cta-text-container {
        width: 45%;
        .em(18);
        line-height: 25px;
    }

    #stats-content {
        .stat-number {
            width: 40%;
        }

        .stat-text {
            font-size: 1.25em;
            margin-top: 15px;
        }
    }

    #switch-btn {
        font-size: 16px;
        padding: 15px 25px;
    }

    .footer-logo {
        display: none;
    }

    #email-text-container {
        float: none;
    }

    #email-legal {
        .fl, .fr {
            width: auto;
            float: none;
            text-align: left;
            margin-bottom: 20px;
        }
    }

    #update-button {
        margin-left: 40px;
    }

    #screenings-container {
        padding-left: 40px;
        padding-right: 40px;
        .bb;

        .cl, .cr {
            float: none;
            width: 100%;
        }

        .cl {
            margin-left: 0px;
        }
        .cr {
            margin-bottom: 40px;
            margin-top: 40px;
        }

    }

    #nav-switch {
        display: none;
    }

    #switch-content {
        float: none;
        width: 100%;
        .bb;
    }

    #switch-buttons {
        padding-bottom: 0px;
        text-align: center;
    }

    #switch-intro {
        margin: 0;
        padding: 40px;
        .bb;
        float: none;
        width: 100%;
    }

    .switch-section-content {
        float: none;
        width: 100%;
        margin: 0;
        padding-left: 40px;
        padding-right: 40px;
        .bb;
    }

    #about-header-title {
        width: 100%;
        padding: 0px;
        display: inline-block;

        h1 {
            font-size: 4.5em;
            margin-top: 40px;
            .border5 {
                font-size: 100px;
            }
        }
    }

    #about-header-text {
        padding-left: 40px;
        padding-right: 40px;
        display: block;
        .em(14);
    }

    #about-content {
        .border5 {
            font-size: 7em;
        }
    }

    .filmmaker-bio {
        h3 {
            .em(20);
        }
        p {
            .em(12);
        }
    }

    #press-quotes {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .press-quote {
        width: 100%;
        text-align: left;
        padding: 40px;
        .bb;
        border-bottom: 1px solid @gray10;
        margin-left: 0px;
    }

    .quote-container {
        width: 60%;
        float: left;
        border-bottom: 0px;
        display: block;
        height: auto;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .quote-logo-container {
        float: right;
        width: 30%;
        display: block;
        height: auto;
        text-align: center;
    }

    .vac {
        display: block;
    }

    #learning-title {
        h1 {
            font-size: 7em;
        }
    }

    .article-title {
        font-size: 1.4em;
    }

    #learning-content {
        .cl, .cr {
            float: none;
            width: 100%;
        }
        .cl {
            margin-left: 0px;
            padding-left: 40px;
            padding-right: 40px;
            .bb;
        }

        .cr {
            padding-right: 40px;
        }
    }

    #action-container {
        text-align: center;
    }

    .learning-content p:last-child {
        margin-bottom: 0px;
    }

    .learning-nav {
        margin-bottom: 40px;
    }

}

@media only screen and (max-width : 520px) {

    #top-nav {
        position: absolute;
        margin-right: 0px;
        float: none;
    }

    #trailer-container {
        height: auto;
        padding-bottom: 40px;
    }

    .laurels-container {
        display: none;
    }

    #stats-container {
        display: none;
    }

    #switch-content {
         .switch-btn-container {
            width: 100%;
         }
    }

    #switch-buttons {
        padding: 0px 40px;
        .bb;
        .ib {
            display: block;
        }
        .switch-btn-container {
            width: 100%;
            float: none;
        }
    }

    #join-content {
        display: block;
    }

    #join-text {
        display: block;
        width: 100%;
        .bb;
    }

    #join-form {
        display: block;
        width: 100%;
        .bb;
        padding-left: 40px;
    }

    #credits-container {
        height: auto;
    }

    #credits-featured-container {
        display: none;
    }

    .credits-img {
        border-bottom: 0px;
        padding-bottom: 0px;
    }

    .filmmaker {
        margin-top: 40px;
    }

    .filmmaker-photo {
        float: none;
        width: 100%;
        .bb;
        padding: 0 40px;
    }

    .filmmaker-bio {
        padding: 40px 40px 0 40px;
        float: none;
        width: 100%;
        .bb;

        h3 {
            font-size: 1.5em;
        }

        p {
            font-size: 1em;
        }

    }

    .filmmaker:nth-child(odd) .filmmaker-bio {
        margin: 0;
    }

    #about-content-container {
        margin: 40px auto;
    }

    #switch-cta {
        margin-top: 40px;
    }

}

@media only screen and (max-width : 450px) {
    #site-logo {
        width: 220px;
        margin-left: 20px;
        margin-top: 5px;
    }
    #top-nav {
        right: 20px;
    }
    .play-btn-text {
        display: none;
    }
    #update-text {
        display: block;
        width: 100%;
        .bb;
        padding-right: 40px;
    }
    #update-actions {
        padding-left: 40px;
        padding-right: 40px;
        .bb;
        width: 100%;
        display: block;
    }
    #update-button {
        margin-left: 0;
        width: 100%;
    }
    #stats-content {
        padding-left: 40px;
        padding-right: 40px;
    }
    #switch-badge {
        display: block;
        width: 100%;
        margin-left: 0;
        padding: 0 40px;
        .bb;
    }
    /*#switch-buttons {
        padding: 0;
    }*/
    .switch-section-products .switch-product .cr {
        width: 55%;
    }
    #cta-text-container {
        width: 100%;
        margin-top: 40px;
        padding: 0 40px;
        .bb;
        margin-left: 0;
    }

    .email-icon-link {
        display: none;
    }
    .email-text {
        margin-left: 0px;
    }
    #screenings-container {
        .cr {
            background: none;
            .round(0px);
            .shadow(0px);
            padding: 0px;
        }
    }
    #credits-content {
        display: none;
    }
    .switch-header {
        display: block;

        .switch-logo-img {
            display: block;
            width: 100%;
            padding: 0px;
        }
        p {
            display: block;
            width: 100%;
            margin-bottom: 0px;
        }
    }

    .switch-section-header {
        h2 {
            font-size: 6.125em;
            line-height: 1.2em;
        }
    }

    #about-header {
        height: auto;
    }

    #about-content {
        .border5 {
            font-size: 5em;
        }
    }
    .quote-container, .quote-logo-container {
        float: none;
        width: 100%;
        text-align: center;
    }

    .quote-container {
        h3 {
            display: block;
        }
    }

    .quote-logo-container {
        margin-top: 20px;
    }

    #awards-container {
        display: none;
    }

    #learning-title h1 {
        font-size: 6em;
        margin: 0 40px;
    }

    #stats-lobby-container {
        display: none;
    }

}
