@base: 16; //base font size
@green1: #053834;
@green2: #288982;
@gray1: #3d3d3d;
@gray2: #e5e5e5;
@gray3: #bdbdbd;
@gray4: #b7b7b7;
@gray5: #a9a9a9;
@gray6: #f0f0f0;
@gray7: #929292;
@gray8: #666;
@gray9: #414141;
@gray10: #fafafa;
@gray11: #616161;
@gray12: #dcdcdc;
@gray13: #979797;
@gray14: #f5f5f5;
@gray15: #a2a2a2;
@gray16: #626262;
@gray17: #b0b0b0;

.transition(...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

.antialias {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.muncie {
    font-family: 'muncieregular';
}

.museo3 {
    .antialias;
    font-family: 'museo_sans300';
}

.museo5 {
    .antialias;
    font-family: 'museo_sans500';
}

.museo7 {
    .antialias;
    font-family: 'museo_sans700';
}

.ib {
    display: inline-block;
}

.table {
    display: table;
}

.tc {
    display: table-cell;
    vertical-align: top;
}

.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.opacity(@opacity) {
    opacity: @opacity;
    -moz-opacity: @opacity;
    -webkit-opacity: @opacity;
}

.em(@px){
    font-size: @px/@base + 0em;
}

.round(@radius:5px){
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

.br(@tl:5px,@tr: 5px, @br: 5px, @bl: 5px){
  border-radius: @tl @tr @br @bl;
  -moz-border-radius: @tl @tr @br @bl;
  -webkit-border-radius: @tl @tr @br @bl;
}

.btn-round {
    background: @green2;
    .round(5px);
    .museo7;
    color: white;
    .transition(background-color .3s ease-in);
}

.btn-round.green:hover {
  background: darken(@green2,10%);
}

.btn-round.inactive {
  cursor: auto;
  background: @gray12;
  color: @gray13;
}

.bb {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.shadow(@radius){
  box-shadow: 0px 0px @radius rgba(0,0,0,.2);
  -webkit-box-shadow: 0px 0px @radius rgba(0,0,0,.2);
  -moz-box-shadow: 0px 0px @radius rgba(0,0,0,.2);
}

.px-perc(@px,@total){
  @perc: ( (@px / @total) * 100 ) + 0%;
}

.cl {
  .fl;
  margin-left: 40px;
}

.cr {
  .fr;
  margin-right: 40px;
  .bb;
  .shadow(5px);
}

.flex {
  display: block; /* fallback */
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -moz-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-center {
  .flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

.nav-page {
  background: @green2;
  width: 230px;
  .round(5px);
  padding: 25px 20px;
  .bb;
  margin-left: 40px;

  a {
    color: white;
    display: block;
    margin-bottom: 20px;
  }
  a:last-child {
    margin-bottom: 0px;
  }

}

.border5 {
  border: 5px solid white;
  padding: 5px 5px 0 5px;
  .muncie;
  .ib;
}

.center-text {
  text-align: center;
}

.center-margin {
  margin: 0 auto;
  display: inline-block;
}

.mw {
  max-width: 100%;
}

.section-header {
  .border5;
  color: white;
  display: inline-block;
  .bb;
  padding-bottom: 0px;
}

.section-header-container {
    .table;
    width: 100%;
    text-align: center;
}

.vac {
    .tc;
    vertical-align: middle;
}

.date {
    color: @gray15;
    font-style: italic;
    margin: 0;
}
.article-title {
    .em(30);
    margin-top: 10px;
    color: @green2;
}

.container_24 {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  min-width: 320px;
}

h1,h2,h3,h4 {
    .antialias;
    font-weight: normal;
    margin: 0;
}

button {
    border: 0;
    padding: 15px 20px;
    .em(18);
    .museo7;
    margin: 0;
    outline: none;
}

a,button {
    cursor: pointer;
}

a {
  text-decoration: none;
  color: @green2;
  .museo7;
  .transition(color .1s ease-in);
}

a:hover {
  color: darken(@green2,10%);
}

input {
  .museo5;
  color: @gray4;
  padding: 10px;
  .round(5px);
  border: 1px solid @gray4;
  outline: none;
  .bb;
}

nav {
  h4 {
    .em(18);
    color: @gray17;
  }
  a {
    margin-top: 20px;
    display: block;
  }

}

img {
  max-width: 100%;
  border: 0;
}


@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/museosans_500-webfont.eot');
    src: url('../fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_500-webfont.woff') format('woff'),
         url('../fonts/museosans_500-webfont.ttf') format('truetype'),
         url('../fonts/museosans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans700';
    src: url('../fonts/museosans_700-webfont.eot');
    src: url('../fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_700-webfont.woff') format('woff'),
         url('../fonts/museosans_700-webfont.ttf') format('truetype'),
         url('../fonts/museosans_700-webfont.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans300';
    src: url('../fonts/museosans-300-webfont.eot');
    src: url('../fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-300-webfont.woff') format('woff'),
         url('../fonts/museosans-300-webfont.ttf') format('truetype'),
         url('../fonts/museosans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muncieregular';
    src: url('../fonts/muncie-webfont.eot');
    src: url('../fonts/muncie-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muncie-webfont.woff') format('woff'),
         url('../fonts/muncie-webfont.ttf') format('truetype'),
         url('../fonts/muncie-webfont.svg#muncieregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
