@import "common.less";

body {
    margin: 0;
    .museo5;
    color: @gray1;
}

#container {
  width: 100%;
}
#header-container {
  background: url('../images/structure/header-bg.jpg') repeat-x top left;
  height: 119px;
}

#header-content {
    height: 40px;
    padding-top: 40px;
    .table;
}

#site-logo {
    margin-left: 40px;
}

#top-nav {
    margin-top: 3px;
}

.header-link {
    color: #fff;
    .tc;
    vertical-align: middle;
    .transition(color .3s ease-in);
    padding-left: 50px;
    .museo7;
}

.header-link:hover {
    color: @green1;
}

/* trailer */

#trailer-container {
    height: 850px;
    background: url('../images/structure/crowd-bg.jpg') no-repeat center center;
    .cover;
}

#trailer-content {
    text-align: center;
}

#video-container {
    margin: 0 auto;
    width: 790px;
    height: 444px;
    padding-top: 50px;
}

#video-cta {
    background: url(../images/trailer/trailer-bg.jpg) no-repeat top left;
    text-align: center;
    height: 100%;
    position: relative;
}

#video-cta-text {
    margin-top: 130px;
}

.play-btn-container {
    position: relative;
    top: -60px;
    .ib;
}

.play-btn {
    .opacity(.5);
    .transition(opacity .3s ease-in);
}

.play-btn-text {
    color: white;
    .opacity(.5);
}

.play-btn-container:hover {
     .play-btn, .play-btn-text {
        .opacity(1);
     }
}

#credit-sean-penn {
    margin-top: 50px;
}

.laurels-container {
    margin-left: -35px;
    margin-top: 50px;
}

.laurel {
    margin-left: 35px;
}

.share-container {
    margin-top: 50px;

    .twitter-follow-button {
        margin-left: 10px;
    }

}

/* updates */

#update {
    margin-top: 25px;
    margin-bottom: 25px;
    .table;
}

#update-text {
    padding-left: 40px;
    width: 630px;
    .ib;
    .tc;

    h3 {
        .em(16);
        color: @green2;
        .museo7;
    }

}

#update-actions {
    .tc;
    vertical-align: middle;
    text-align: right;
}

#update-button {
    margin-right: 40px;
    .em(16);
    padding: 15px 20px;
    .transition(background-color .3s ease-in);
}

/* stats */

#stats-container {
    background: url('../images/stats/stats-bg.jpg');
    height: 500px;
    .cover;
    text-align: center;
    display: table;
    width: 100%;
}

#stats-content {
    display: table-cell;
    vertical-align: middle;
    .stat-text {
        margin-top: 35px;
        color: white;
    }
}

/* switch to safer */

#switch-cta {
    margin-top: 100px;
}

#switch-badge {
    .ib;
    margin-left: 40px;
}

#cta-text-container {
    .em(24);
    .museo3;
    color: @gray1;
    line-height: 35px;
    margin: 0;
    width: 480px;
    .ib;
    margin-left: 50px;
    vertical-align: top;
    p:first-child {
        margin-top: 60px;
    }
}

#switch-btn {
    padding: 25px 35px;
    font-size: 24px;
}

#switch-products {
    border-top: 1px solid @gray2;
    margin-top: 60px;
    padding-top: 60px;

    .product {
        margin-left: 48px;
    }
    .product:first-child {
        margin-left: 0;
    }
}

#switch-buttons {
    text-align: center;
    margin-top: 60px;
}

.switch-btn-container {
    .em(18);
    .ib;
    width: 310px;
    button {
        font-size: 18px;
        background: @gray3;
        .transition(background-color .3s ease-in);
        width: 100%;
        height: 80px;
    }
    button:hover {
        background: @green2;
    }
    p {
        line-height: 24px;
        .museo7;
    }
}

.switch-btn-container.vine {
    margin-left: 90px;
    button {
        text-align: left;
        padding-left: 30px;
        background: url('../images/switch/logo-vine.png') no-repeat 90% center @gray3;
        .transition(background-color .3s ease-in);
    }
    button:hover {
        background-color: @green2;
    }

}

#stats-lobby-container {
    background: url('../images/stats/stats-lobby-bg.jpg') no-repeat center center @green1;
    .cover;
    height: 500px;
    margin-top: 60px;
    .table;
    width: 100%;
}

#stats-lobby {
    text-align: center;
    .tc;
    vertical-align: middle;
}

#lobby-number {
    position: relative;
    top: -95px;
}

/* join */

#join-container {
    background: @gray2;
}

#join-content {
    padding: 25px 0;
    .table;
}

#join-text {
    padding-left: 40px;
    width: 190px;
    .ib;
    .tc;
}

#join-form {
    .ib;
    .tc;
    vertical-align: middle;
    padding-left: 50px;
    input {
        .em(18);
    }
    button {
        .em(18);
        padding: 10px 30px;
    }
}

#join-email {
    width: 268px;
}

#join-zip {
    width: 148px;
}

/* credits */

#credits-container {
    height: 350px;
    background: url('../images/structure/green-speck-bg.jpg');
    background-size: 50%;
}

#credits-content {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.credits-img {
    border-bottom: 1px solid darken(@green2,10%);
    padding-bottom: 40px;
}

#credits-featured-container {
    padding-top: 40px;
    margin-left: -45px;
    .credit-featured {
        margin-left: 45px;
    }
}
