@import "common.less";

body {
    margin: 0;
    .museo5;
}

#container {
  width: 100%;
}
#header-container {
  background: url('../images/structure/header-bg.jpg') repeat-x top left;
  height: 119px;
}

#header-content {
    height: 40px;
    padding-top: 40px;
    .table;
}

#top-nav {
    margin-top: 3px;
}

.header-link {
    color: #fff;
    .tc;
    .transition(color .3s ease-in);
    padding-left: 50px;
}

.header-link:hover {
    color: @color-green1;
}
